<main class="main-about">
    <div class="about-content content-div">
        <div class="about-desc">
            <p>I’m Andie Chu. You can also call me <em>cad0420</em>. I’m a creative coder based in Shanghai, China. My primary interests are creative front-end, audio-visual, generative art and music. Exploring new technologies and crafting them into a solid piece of work is also one of my main experiments. </p>
            <p>I used to be a backend developer and a product manager. Then I found my true calling -- creative coding -- an industry which combines both technology and creativity. I love learning new things and experimenting them in real life. If you have any interesting idea but don't know how to realize it, let me help you bring it to life!</p>
            <a href="https://www.linkedin.com/in/cad0420/" target="_blank">Go to my LinkedIn</a>
            <h4>Professional Skills</h4>
            <ul>
                <li>Creative front-end development: HTML/CSS/JavaScript</li>
                <li>Creative coding in Processing, Max/MSP, JavaScript, Python</li>
                <li>Back-end development in Java, Python</li>
                <li>Basic web scraping with Python</li>
                <li>Basic machine learning skill</li>
                <li>Product management & project management</li>
                <li>A little design knowledge with Sketch, Photoshop, Adobe Effects</li>
            </ul>
            <h4>Blog History</h4>
            <ul>
                <li>2005: started blogging on Sina.com</li>
                <li>2013: learnt about GitHub Pages, and set up my first blog with Jekyll</li>
                <li>2013: didn't want to learn Ruby at that time (sorry, Mr. Yukihiro!), so switched to <a href="https://hexo.io/" target="_blank">[Hexo]</a></li>
                <li>2017: the year I started to use Python as one of my main language, so switched to <a href="http://docs.getpelican.com/en/stable/" target="_blank">[Pelican]</a></li>
                <li>2018: finally cannot stand all the open-source themes, so wrote my own minimal style Hexo theme</li>
            </ul>
        </div>
        <div class="about-avatar"></div>
    </div>
</main>