<header>
    <div class="menu-btn">  <!-- on-menu -->
        <div class="menu-btn-line one">
            <span class="menu-btn-dot one"></span>
            <span class="menu-btn-dot two"></span>
            <span class="menu-btn-dot three"></span>
        </div>
        <div class="menu-btn-line two">
            <span class="menu-btn-dot one"></span>
            <span class="menu-btn-dot two"></span>
            <span class="menu-btn-dot three"></span>
        </div>
        <div class="menu-btn-line three">
            <span class="menu-btn-dot one"></span>
            <span class="menu-btn-dot two"></span>
            <span class="menu-btn-dot three"></span>
        </div>
    </div>
    <span class="menu-panel"></span>

    <% if (page_title) { %>
        <div class="page-title">
            <h1><%= page_title %></h1>
        </div>
    <% } %>
</header>