<div class="page-loader">
    <div class="loader">
        <span class="loader-square row-1 col-1"></span>
        <span class="loader-square row-1 col-2"></span>
        <span class="loader-square row-1 col-3"></span>
        <span class="loader-square row-2 col-1"></span>
        <span class="loader-square row-2 col-2"></span>
        <span class="loader-square row-2 col-3"></span>
        <span class="loader-square row-3 col-1"></span>
        <span class="loader-square row-3 col-2"></span>
        <span class="loader-square row-3 col-3"></span>
    </div>
</div>