<nav class="menu"> <!-- show -->
    <ul class="menu-list">
        <li class="menu-list-item"><a href="<%- url_for('/about') %>">About</a></li>
        <li class="menu-list-item"><a href="<%- url_for('/portfolio') %>">Portfolio</a></li>
        <li class="menu-list-item"><a href="<%- url_for('/blog') %>">Blog</a></li>
    </ul>
    <ul class="social-media-list">
        <li class="social-media-list-item email">
            <a href="mailto:angdichu@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
        </li>
        <li class="social-media-list-item github">
            <a href="https://github.com/andiechu" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="social-media-list-item codepen">
            <a href="https://codepen.io/cad0420/" target="_blank">
                <i class="fab fa-codepen"></i>
            </a>
        </li>
        <li class="social-media-list-item instagram">
            <a href="https://www.instagram.com/cad0420/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li class="social-media-list-item vimeo">
            <a href="https://vimeo.com/cad0420" target="_blank">
                <i class="fab fa-vimeo-v"></i>
            </a>
        </li>
        <li class="social-media-list-item twitter">
            <a href="https://twitter.com/andiechu" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul>
</nav>