<%- partial('partial/header', {page_title: ''}) %>

<div class="home-animation" id="home">
    <!-- here goes the P5.js animation -->
    <canvas id="particleCanvas"></canvas>
    <canvas id="textCanvas"></canvas>
</div>

<%- /* js('js/index-p5.js') */ %>

<%- js('js/sketch.js') %>
